@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.app {
  width: 1000px;
  margin: 40px auto;
}

.parent-box {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: gray;
}

.parent-container {
  margin: 10px 0px 30px;
  border: 1px solid lightGray;
}

.child-container {
  display: block;
}

.single-child {
  height: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 100px;
}


@media only screen and (max-width: 1024) {
  .app {
    width: 700px;
  }
}


@media only screen and (max-width: 768px) {
  .app {
    width: 350px;
  }
  .single-child {
    padding-left: 50px;
    height: 40px;
    font-size: 11px;
  }
  .parent-box {
    height: 40px;
    font-size: 13px;
  }

  .parent-container img{
    width: 13px !important;
    height: 13px !important;
  }
}
